<div class="card">
  <div class="card-body">
    <h4 class="card-title">Hello!</h4>

    <p *ngIf="loadedData === null" class="card-text">
      Looks like you are not Logged-in to our system :(
    </p>

    <p *ngIf="loadedData !== null" class="card-text">
      Welcome {{ loadedData.email }} ! You have successfully logged in! :)
    </p>
    <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
  </div>
</div>

<div class="container">
  <h1 class="display-1">Tickets</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Price</th>
        <th class="text-right">Actions</th>
      </tr>
    </thead>
    <tbody>
      <div *ngIf="loadedTicket.length === 0">
        <p>Sorry no tickets to show!</p>
      </div>
      <ng-container *ngFor="let ticket of loadedTicket">
        <tr>
          <td>{{ ticket.title }}</td>
          <td>&#8377; {{ ticket.price }}</td>
          <td class="td-actions text-right">
            <button (click)="onClick(ticket.id)" class="btn btn-icon btn-3 btn-primary" type="submit">
              <span class="btn-inner--icon"><i class="ni ni-bag-17"></i></span>
              <span class="btn-inner--text">View Ticket</span>
            </button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
